.r-sidebar
	width: 100px
	height: 100%
	padding-top: 40px
	overflow-y: scroll
	overflow-x: hidden
	text-align: center
	.avatar
		width: 50px
		height: 50px
		border-radius: 50%
	.menu-item
		li
			margin-top: 20px
