<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=htmlWebpackPlugin.options.title%></title>
    </head>
    <body>
        <div id="app">
            <img src="./avatar.jpg" />
            hello world
        </div>
        <script src="./index.js"></script>
    </body>
</html>
